<!-- CSS -->
<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    width: 170px;
  }

  .btn-search:hover {
    background-color: #fe424fdb;
    color: #fff;
  }

  .btn-search i {
    display: inline !important;
    margin-right: 0.5rem;
  }
  #search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

  .item {
    padding: 10px;
    font-size: 16px;
    transition: 0.3s;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-brands fa-airbnb"><span id="font">airbnb</span></i></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <div class="drop-down">
          <form class="d-flex" id="myForm">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search destination"
              aria-label="Search"
              id="search-input"
              list="categoryOptions"
            />
            <datalist id="categoryOptions">
              <option class="item" value="views"></option>
              <option class="item" value="Rooms"></option>
              <option class="item" value="Beach"></option>
              <option class="item" value="City"></option>
              <option class="item" value="trends"></option>
              <option class="item" value="Arctic"></option>
              <option class="item" value="Boat"></option>
            </datalist>

            <button class="btn btn-search" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
              Search
            </button>
          </form>
        </div>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup">Signup</a>
        <a class="nav-link" href="/login">Login</a>
        <%} %>
        <!--  -->
        <% if(currUser) { %>
        <a class="nav-link" href="/logout">Logout</a>
        <%} %>
      </div>
    </div>
  </div>
</nav>

<script>
  document
    .getElementById("myForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();
      let searchValue = document.getElementById("search-input").value;
      console.log(searchValue);

      // Optionally, redirect to search results page with the search value
      try {
        window.location.href = "/category/" + decodeURIComponent(searchValue);
      } catch (error) {
        console.log(error);
      }
    });
</script>
